article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */
input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*colours*/
/*lightblue = #92BBFF*/
/*midBlue = #458CFF*/
/*blue = #3770CC*/
/*darkBlue = #23467F*/
/*gray = #495E7F*/

body {
	font-size: 3vw;
	font-family: "Open Sans", sans-serif;
	font-weight: 800;
	color: #FFF;
}

table {
	/*display: none;*/
}

#clock {
	font-size: 3vw;
}

p {
	margin: 0;
}

/*=======
actual styles
=======*/

.wrapper {
	width:100vw;
	height:100vh;
	position: relative;
	background: rgba(52,73,94,0.7);
  	overflow: hidden;
}

.wrapper:after {
  content: "";
  position: absolute;
  background-image: url("../img/city.jpeg");
  background-size: cover;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}

/*.area--date styles*/
.area--date {
	width:30vw;
	height:75vh;
	position: absolute;
	top:0;
	left:0;
}

.area--date:before {
	content: "";
	position: absolute;
	bottom:-1vh;
	right:0vw;
	width:0.5vh;
	height:70vh;
	background-color: rgba(255,255,255,0.5);
}

.date--clock {
	width:5vw;
	position: absolute;
	top:3vh;
	left:2vw;
}

.date--time {
	font-size: 4vw;
	position: absolute;
	top:3vh;
	left:9vw;
}

.date--subsection {
	width:30vw;
	height:50vh;
	position: relative;
	top:27vh;
}

.tag--today {
	text-transform: uppercase;
	position: absolute;
	top:4vh;
	left:2vw;
	font-size: 700;
}

.tag--today:before {
	content: "";
	position: absolute;
	width:6vw;
	height:0.5vh;
	bottom:1.7vh;
	right:-6.5vw;
	background-color: rgba(255,255,255,0.5);
}

.date--weekday {
	text-transform: uppercase;
	position: absolute;
	top:9vh;
	left:2vw;
	font-size: 4.5vw;
}

.date--month {
	text-transform: uppercase;
	position: absolute;
	top:18vh;
	left:2vw;
	font-size: 5.5vw;
}

.date--year {
	text-transform: uppercase;
	position: absolute;
	top:29vh;
	left:2vw;
	font-size: 7vw;
}

.date--calendarIcon {
	width:6.5vw;
	position: absolute;
	right:3.5vw;
	top:31vh;
}

/*.area--mainEvent styles*/
.area--mainEvent {
	width:70vw;
	height:75vh;
	position: absolute;
	top:0;
	right:0;
}

.tag--current {
	text-transform: uppercase;
	font-size: 4vw;
	font-weight: 400;
	position: absolute;
	left:2vw;
	top:3vh;
}

.tag--current:before{
	content: "";
	position: absolute;
	width:12vw;
	height:0.5vh;
	bottom:2.5vh;
	right:-12vw;
	background-color: rgba(255,255,255,0.5);
}

.main--eventList {
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	left:2vw;
	top:10vh;
}

.main--eventName {
	text-transform: uppercase;
	font-size: 7vw;
}

.main--eventDate img {
	width:5vw;
	margin-top: 8vh;
	position: relative;
	top:2vh;
	margin-right: 2vw;
}

.main--eventDate p{
	text-transform: uppercase;
	font-size: 3.5vw;
}

.main--time img {
	width: 5vw;
	position: relative;
	top:2vh;
	margin-right: 1.5vw;
}

.main--time {
	font-size: 3.5vw;
}

.main--location img {
	width: 3.5vw;
	position: relative;
	top:1vh;
	margin-right: 2.8vw;
	margin-left: 0.7vw;
}

.main--location {
	text-transform: uppercase;
	font-size: 5vw;
}

/*.area--nextEvent styles*/
.area--nextEvent {
	width:100vw;
	height:25vh;
	position: absolute;
	bottom:0;
	left:0;
}

.area--nextEvent:before {
	content: "";
	position: absolute;
	top:1vh;
	left:10vw;
	width:80vw;
	height:0.5vh;
	background-color: rgba(255,255,255,0.5);
}

.tag--next {
	text-transform: uppercase;
	font-size: 3.7vw;
	font-weight: 400;
	position: relative;
	left:2vw;
	top:1vh;
}

.tag--next:before {
	content: "";
	position: absolute;
	width:10vw;
	height:0.5vh;
	bottom:2vh;
	left:21vw;
	background-color: rgba(255,255,255,0.5);
}

.next--event {
	text-transform: uppercase;
	position: relative;
	font-size: 5vw;
	left:2vw;
	top:-2vh;
}

.next--subsection {
	width:30vw;
	position: absolute;
	top:1vh;
	right:0;
}

.next--calendar {
	width:4vw;
	position: absolute;
	top:3vh;
}

.next--date {
	position: relative;
	left:5.5vw;
	top:3vh;
	font-size: 2.8vw;
	text-transform: uppercase;
	font-weight: 700;
}

.next--clock {
	width:4vw;
	position: absolute;
	top:12vh;
}

.next--time {
	position: relative;
	left:5vw;
	top:5vh;
	font-size: 2.8vw;
	font-weight: 700;
}

